@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

p, li {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

p {
  margin: 10px 0px;
}

h1 {
  font-size: clamp(2rem, 3vw, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 2.5vw, 3rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 15px 0px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer {
  padding: 20px;
  text-align: center;
}

/* SIDE LINKS AND THEIR MODALS */
.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon i {
  margin-bottom: 5px;
}

.icon span {
  font-size: clamp(8px, 1vw, 14px);
}

.modal-link:hover {
  text-decoration: underline;
}

.phone-number:hover,
.email-address:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  margin: 18rem auto;
  padding: 30px;
  width: 60%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal-text {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  float: right;
  font-size: 30px;
  transition: color 0.25s ease-in-out;
}

.close-btn:hover {
  cursor: pointer;
  color: #000;
}

i.far, i.fas, i.fab {
  font-size: clamp(1.875rem, 4vw, 3rem);
}

/* PORTRAIT */
.portrait {
  max-width: 500px;
  width: 100%;
}


/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  margin-bottom: 45px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project__image {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project__image img {
  width: 100%;
}

.project__links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project__links a {
  width: 35%;
  padding: 10px;
  border: 1px solid black;
  transition: all 0.25s ease-in-out;
}

.project__links a:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
}

/* PROFICIENCIES */
.proficiencies h3 {
  font-weight: 500;
}

/* UTILITIES */
.page {
  height: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100% !important;
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* GROUPED STYLES */
.name,
.occupation {
  margin: 10px 0;
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .project__links {
    flex-direction: column;
  }

  .project__links a {
    width: 100%;
  }
}