@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

p, li {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

p {
  margin: 10px 0px;
}

h1 {
  font-size: clamp(1.75rem, 3vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 15px 0px;
}

button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
}

/* SIDE LINKS AND THEIR MODALS */
#my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0;
  animation-name: menu;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon i {
  margin-bottom: 5px;
}

.icon span {
  font-size: clamp(8px, 1vw, 14px);
}

.modal-link:hover {
  text-decoration: underline;
}

.phone-number:hover,
.email-address:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  margin: 18rem auto;
  padding: 30px;
  width: 60%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation-name: modalOpen;
  animation-duration: 0.5s;
}

.modal-text {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  float: right;
  font-size: 30px;
  transition: color 0.25s ease-in-out;
}

.close-btn:hover {
  cursor: pointer;
  color: #000;
}

i.far, i.fas, i.fab {
  font-size: clamp(1.875rem, 4vw, 3rem);
}

/* HERO */
#main-page {
  position: relative;
  animation-name: content;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  margin-bottom: 45px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.project-image {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project-image img {
  width: 100%;
}

.buttons {
  width: 100%;
}

.button {
  color: black;
  display: inline-block;
  width: 35%;
  padding: 5px;
}

/* UTILITIES */
.page {
  height: 100%;
  min-height: 100vh;
}

.container {
  height: 100% !important;
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* GROUPED STYLES */
#main-page,
#proficiencies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name,
#occupation {
  font-weight: 700;
}

#frontend,
#backend,
#other {
  font-weight: bolder;
}

/* KEY FRAMES */
@keyframes content {
  0% {
    top: -500px;
  }

  100% {
    top: 0px;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .button {
    display: block;
    width: 100%;
  }
}